
<p id="notice"><%= notice %></p>
<h1>Books</h1>
<table>
<thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td>
      <%= link_to "Show", book_path(book) %>
      <%= link_to "Edit", edit_book_path(book) %>
      <%= link_to "Destroy", book_path(book),method: :delete, "data-confirm"=>"Are you sure?" %>

      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<h2>New Book</h2>
<%= form_with model: @book, local:true do |f| %>




<% if @book.errors.any? %>
  <ul>
    <li>error</li>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
    <% end %>

<h4>Title</h4>
<div class="field">
<%= f.text_field :title %></div>


<h4>Body</h4>
<div class="area">
<%= f.text_area :body %></div>
<br>
<div class="c">
<%= f.submit 'Create Book' %></div>
<% end %>
